<style>body{font-family: 'Open Sans', sans-serif;background-color: #f9f9f9;}</style>

<div class="jumbotron jumbotron-fluid" style='padding-left: 40px; display: flex; flex-direction: column; justify-content: center; font-weight: bold;color:white; background: url("../assets/banner.png"); background-size: cover; background-position: center; height:635px;'>
  <div class="container-fluid">

    <div class="row justify-content-start">
      <div style='text-align:left; font-size: 1vw; align:right;' class="col-6">
        ADMISSION '17
      </div>
    </div>
    <div class="row justify-content-start">
      <div style='text-align:left; font-size: 3vw;' class="col-6">
        ARE YOU READY <br> TO APPLY?
      </div>
    </div>
    <br>
    <div class="row justify-content-start">
      <div style='text-align:left; font-weight:normal;' class="col-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elite
        eiusmod tempor incididunt ut labore dolore
      </div>
    </div>

    <br>

    <div class="row justify-content-start">
      <div class="col-1">
        <button class="btn btn-danger">
          <div style="font-size:12px; font-weight:normal;">GET STARTED NOW</div>
        </button>
      </div>
    </div>
  </div>
</div>

<br>


<div class="container-fluid">
  <div style="padding-left: 20px; padding-right:20px;">
    <div class="row">
      <div class="col-md-4" style="padding-bottom: 45px;">
        <div class="row">
          <div style="padding-bottom: 20px;">
            <div style="border-left: 2px solid red; padding-left: 2px;">
              <div style="font-weight: bold">ABOUT EDUCON</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="card">
            <img class="card-img-top" src="../assets/aboutus-1.png" alt="Card image cap">
            <div class="card-body">
              <div class="card-title"><h4 style="font-weight:bold;">Bring Youth to Fun & Study</h4></div>
              <p class="card-text" style="color:gray;">
                Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor incidunt ut labore et.colore magna aliqua. Ut enim ad minim veniam, quis nostrud.
              </p>
              <button type="button" class="btn btn-outline-danger" style="border:none">READ MORE ></button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 " style="padding-bottom: 45px;">
        <div class="row">
          <div style="padding-bottom: 20px;">
            <div style="border-left: 2px solid red; padding-left: 2px;">
              <div style="font-weight: bold">STUDENT LIFE</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="card">
            <img class="card-img-top" src="../assets/campuslife2.png" alt="Card image cap">
            <div class="card-body">
              <div class="card-title"><h4 style="font-weight:bold;">Life is Like Riding a Bicycle</h4></div>
              <p class="card-text" style="color:gray;">
                Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor incidunt ut labore et.colore magna aliqua. Ut enim ad minim veniam, quis nostrud.
              </p>
              <button type="button" class="btn btn-outline-danger" style="border:none">READ MORE ></button>
            </div>
          </div>
        </div>
      </div>
    <div class="col-md-4 " style="padding-bottom: 45px;">
      <div class="row">
        <div style="padding-bottom: 20px;" style="padding-bottom: 25px;">
          <div style="border-left: 2px solid red; padding-left: 2px;">
            <div style="font-weight: bold">THE ENVIRONMENT</div>
          </div>
        </div>
      </div>
      <div class="row">
      <div class="card">
        <img class="card-img-top" src="../assets/Courses2-570x360.jpg" alt="Card image cap" style="height:302px;">
        <div class="card-body">
          <div class="card-title"><h4 style="font-weight:bold;">Life is Like Riding a Bicycle</h4></div>
          <p class="card-text" style="color:gray;">
            Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor incidunt ut labore et.colore magna aliqua. Ut enim ad minim veniam, quis nostrud.
          </p>
          <button type="button" class="btn btn-outline-danger" style="border:none">READ MORE ></button>
        </div>
      </div>
      </div>
    </div>

  </div>
</div>
</div>

<br>
<div class="container-fluid">
  <div style="padding-left: 20px; padding-right:20px; padding-bottom: 45px;">

  <div class="container-fluid" style='padding-left: 30px; display: flex; flex-direction: column; justify-content: center; font-weight: bold;color:white; background: url("../assets/cta-bg.png"); background-size: cover; background-position: center; height:130px;'>
    <div class="row">
      <div class="col-auto mr-auto">
        <div style="font-weight: normal;font-size: 8px;">Click to Join the Advance Workshop</div>
        TRAINING IN ADVANCE NETWORKING</div>
      <div class="col-auto">
        <button type="button" class="btn btn-light" style="color:red" data-toggle="modal" data-target="#myModal">JOIN NOW</button>
      </div>
    </div>
  </div>
  </div>



<br>
<div class="container-fluid">
  <div style="padding-bottom: 20px;">
    <div style="border-left: 2px solid red; padding-left: 2px;">
      <div style="font-weight: bold">FEATURED COUSES</div>
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div style="padding-left:15px; color:gray;">Lorem ipsum dolor sit amet, conseteur adipiscing elitsed do eius1</div>
        </div>
        <div class="carousel-item">
          <div style="padding-left:15px; color:gray;">Lorem ipsum dolor sit amet, conseteur adipiscing elitsed do eius2</div>
        </div>
        <div class="carousel-item">
          <div style="padding-left:15px; color:gray;">Lorem ipsum dolor sit amet, conseteur adipiscing elitsed do eius3</div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only" >Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


  </div>
</div>


</div>
  <div style="padding-left: 20px; padding-right:20px;">
  <div class="row">
    <div class="col-md-4" style="padding-bottom: 45px;">

        <div class="card">
          <img class="card-img-top" src="../assets/Courses10-570x360.jpg" alt="Card image cap">
          <div class="card-body"><div style="color:gray;">Science</div>
            <div class="card-title"><h4 style="font-weight:bold;">Computing and Arts</h4></div>
            <p class="card-text" style="color:gray;">
              Lorem ipsum dolor sit amet, conseteur adipiscing elitsed do eius
            </p>
            <a href="#" class="btn btn-danger">APPLY NOW ></a>
          </div>
        </div>

    </div>
    <div class="col-md-4" style="padding-bottom: 45px;">

        <div class="card">
          <img class="card-img-top" src="../assets/Courses2-570x360.jpg" alt="Card image cap">
          <div class="card-body"><div style="color:gray;">Agricultural, Science</div>
            <div class="card-title"><h4 style="font-weight:bold;">Agricultural Management</h4></div>
            <p class="card-text" style="color:gray;">

              Lorem ipsum dolor sit amet, conseteur adipiscing elitsed do eius
            </p>
            <a href="#" class="btn btn-danger">APPLY NOW ></a>
          </div>

      </div>
    </div>
    <div class="col-md-4" style="padding-bottom: 45px;">

        <div class="card">
          <img class="card-img-top" src="../assets/Courses16-570x360.jpg" alt="Card image cap">
          <div class="card-body"><div style="color:gray;">Science</div>
            <h4 style="font-weight:bold;" class="card-title">Electrical Engineering</h4>
            <p class="card-text" style="color:gray;">
              Lorem ipsum dolor sit amet, conseteur adipiscing elitsed do eius
            </p>
            <a href="#" class="btn btn-danger">APPLY NOW ></a>
          </div>

      </div>
    </div>
  </div>
  </div>
</div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">REGISTER NOW!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          FIRST NAME:
          <p>
            <input class="form-control" type="text" placeholder="Your Name" ng-model="firstName">
          </p>
          LAST NAME:
          <p>
            <input class="form-control" type="text" placeholder="Your LastName" ng-model="lastName">
          </p>
          eMAIL:
          <p>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your email" ng-model="email">
          </p>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success" ng-click="verify()">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>


<br>
<br>
